<%- contentFor('body-content') %>

<div style="width:100%;padding: 0 20px;">
    <div class="content">
      <div class="card-header" style="text-align:center">
        <h3> Đăng bài </h3>
      </div>
      <div class="card-body" >
        <div class="content-body">
          <form method="POST" action="/admin/bai-viet/dang-bai/json">
            <div class="submit-btn">
              <div class="col-25">
                <label for="title">Tiêu đề :</label>
              </div>
              <div class="col-75">
                <input type="text" id="title" name="title" >
              </div>
            </div>
            <div class="submit-btn">
              <div class="col-25">
                <label for="description">Miêu tả :</label>
              </div>
              <div class="col-75">
                <input type="text" id="description" name="description" >
              </div>
            </div>
            <div class="submit-btn">
              <div class="col-25">
                <label for="img">File Hình ảnh :</label>
              </div>
              <div class="col-75">
                <input type="text" id="img" name="img" >
              </div>
            </div>
            <div class="submit-btn">
              <div class="col-25">
                <label for="category">Mục bài viết :</label>
              </div>
              <div class="col-75">
                <select id="category" name="category" option="" style="height:40px;width:auto"  class="custom-select " >
                  <% cates.forEach((cate) =>{ %>
                    <option value="<%=cate._id%>" ><%=cate.name%></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div class="submit-btn">
              <div class="col-25">
                <label for="content">Nội dung :</label>
              </div>
              <div class="col-75"  >
                <textarea id="editor" name="content"  style="height:100px;width:100%"></textarea>
              </div>
            </div>
            <div class="submit-btn " style="padding-top:20px" >
              <button type="submit" class="btn btn-outline-success" style="float:right" >Đăng bài</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

